@import '../abstracts/_variables';

/* Configuration detail button */
@mixin detail-button($background, $textColor) {
  background: $background;
  color: $textColor;
}

/* Icon */
@mixin stroke($color) {
  stroke: $color;
}

@mixin icon-size($height, $width) {
  height: $height;
  width: $width;
}

@mixin flex-box(
  $display: flex,
  $justify-content: start,
  $align-items: stretch,
  $direction: row
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin topRightBottomLeft($top: 0, $right: 0, $bottom: 0, $left: 0) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $bottom;
}

@mixin primaryLinearGradient() {
  background: linear-gradient(
    to top left,
    $redPrimary 33%,
    $redSecondary 66%,
    $redTertiary 100%
  );
}
