/* Colors */

$blackDark: #050505;
$blackOpacity50: rgba(0, 0, 0, 0.5);

$blueDark: #6578f1;
$blueLight: #e8ebfc;

$grayExtraDark: #929292;
$grayDark: #b3b3b3;
$grayLight: #f3f3f3;

$greenDark: #6fdeaa;
$greenLight: #e6fcf2;
$greenPrimary: #6ede81;
$greenSecondary: #59df70;
$greenTertiary: #43e25e;

$orangeDark: #e68063;
$orangeLight: #e6b4a5;

$redDark: #f63053;
$redLight: #faedef;
$redOpacity33: #f0115133;
$redOpacity5: #f011510d;

$redPrimary: #f01151;
$redSecondary: #f41635;
$redTertiary: #f71a2c;

$turquoiseDark: #4cb0aa;
$turquoiseLight: #9bc2c0;

$whiteDark: #fff;
$whiteOpacity50: #ffffff80;
$whiteOpacity0: rgba(17, 17, 17, 0);
$whiteOpacity20: rgba(17, 17, 17, 0.2);

$yellowDark: #f4ce65;
$yellowLight: #fdf7e7;
$yellowPrimary: #f4b13d;
$yellowSecondary: #f2b63d;
$yellowTertiary: #f2bc3e;

/* Transitions */

$transitionS: 250ms;
$transitionM: 250ms;
$transitionL: 300ms;

/* Borders */

$borderRadiusS: 0.25em;
$borderRadiusM: 0.5em;
$borderRadiusL: 1em;
$borderRadiusFull: 9999px;

/* Spacing */

$basePixel: 8px;

/* Font-weight */

$weightLight: 300;
$weightRegular: 400;
$weightBigger: 600;
$weightBig: 700;

/* z-Index */

$zIndexXs: 10;
$zIndexS: 20;
$zIndexM: 30;
$zIndexL: 40;
$zIndexXl: 40;

:export {
  $blackDark: $blackDark;

  $blueDark: $blueDark;
  $blueLight: $blueLight;

  $grayExtraDark: $grayExtraDark;
  $grayDark: $grayDark;
  $grayLight: $grayLight;

  $greenDark: $greenDark;
  $greenLight: $greenLight;

  $orangeDark: $orangeDark;
  $orangeLight: $orangeLight;

  $redDark: $redDark;
  $redLight: $redLight;
  $redOpacity33: $redOpacity33;
  $redOpacity5: $redOpacity5;
  $redPrimary: $redPrimary;
  $redSecondary: $redSecondary;
  $redTertiary: $redTertiary;

  $turquoiseDark: $turquoiseDark;
  $turquoiseLight: $turquoiseLight;

  $whiteDark: $whiteDark;
  $whiteOpacity50: $whiteOpacity50;
  $whiteOpacity0: $whiteOpacity0;
  $whiteOpacity20: $whiteOpacity20;

  $yellowDark: $yellowDark;
  $yellowLight: $yellowLight;

  $transitionM: $transitionM;

  $borderRadiusS: $borderRadiusS;
  $borderRadiusM: $borderRadiusM;
  $borderRadiusL: $borderRadiusL;
  $borderRadiusFull: $borderRadiusFull;

  $basePixel: $basePixel;
}
