@tailwind base;
@tailwind components;
@tailwind utilities;


/**
* Baseline, reset styles
* @see https://range-input-css.netlify.app/
*/

input[type="range"] {
    -webkit-appearance: none;
    appearance: slider-vertical;
    cursor: pointer;
    width: 50%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
}

/*********** Firefox styles ***********/
/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
}


.custom-circle-cut-off {
    position: relative;
    overflow: hidden;
    /* Needed because otherwise there is a weird uncolored border on mobile devices */
    bottom: -1px;
}

.custom-circle-cut-off:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 0;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 0 2000px white;
}

