@import "../abstracts/variables";

@import "../abstracts/functions";

// scss

.interval-timer-execution-intro {
    font-size: spacingPixel(3.5);
    color: $whiteDark;
    font-weight: $weightBig;
}

.interval-timer-execution-dividing-line {
    margin-bottom: spacingPixel(2);
    height: 1px;
}

.interval-timer-execution-text {
    font-size: 24px;
}

.interval-timer-detail-configuration-options {
    padding: spacingPixel(3) spacingPixel(2) spacingPixel(4);
    flex-grow: 1;
    overflow: auto;
    background: $whiteDark;
    width: 100%;
}

.interval-timer-detail-execution-overview {
    flex-grow: 1;
    padding: spacingPixel(3) spacingPixel(2) spacingPixel(4);
    background: $whiteDark;
    width: 100%;
    align-items: center;

    .interval-timer-detail-execution-overview-rest {
        align-items: center;
        color: $blackDark;
        font-size: spacingPixel(2);
        margin-top: auto;

        .interval-timer-detail-execution-overview-rest-text {
            font-weight: $weightBigger;
            margin-left: spacingPixel(0.5);
        }

        svg {
            margin-right: spacingPixel(0.5);
        }
    }
}
