@import '../abstracts/_functions';
@import '../abstracts/_variables';

.chat-messages-container {
  background: $whiteDark;
  padding: spacingPixel(4) spacingPixel(2);
  background: $whiteDark;
  color: $blackDark;
  border-top-left-radius: spacingPixel(1);
  border-top-right-radius: spacingPixel(1);
  overflow: auto !important;
}

.chat-message-card {
  padding-bottom: spacingPixel(2);
  padding-top: spacingPixel(2);
  border-bottom: 1px solid $grayLight;
}

.chat-message-card-metadata {
  justify-content: space-between;
  margin-bottom: spacingPixel(1);
}

.chat-message-card-friend-name {
  font-weight: 600;
}

.chat-message-card-friend-date {
  font-weight: 300;
  font-size: spacingPixel(1.75);
  color: $grayExtraDark;
}

.chat-message-card-content {
  text-align: start;
  font-size: spacingPixel(1.75);
  color: $grayExtraDark;
}
