@import '../abstracts/_variables';

@import '../abstracts/_functions';

// abstracts

@mixin detail-execution-overview-rounds-text() {
  color: $blackDark;
  font-size: spacingPixel(2.25);
  font-weight: $weightBigger;
  margin-bottom: spacingPixel(0.5);
}

// scss

.home-page {
  flex-grow: 1;
  overflow: hidden;
}

.interval-timer-execution {
  background: transparent;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: spacingPixel(1);
  flex-grow: 1;
  min-height: 350px;

  .interval-timer-execution-intro {
    margin-bottom: spacingPixel(2);
    font-size: 60px;
    color: $whiteDark;
    font-weight: $weightBig;
  }

  .interval-timer-execution-dividing-line {
    margin-bottom: spacingPixel(2);
    height: 1px;
  }

  .interval-timer-execution-text {
    font-size: 24px;
  }

  .interval-timer-execution-button {
    position: absolute;
    left: 50%;
    width: spacingPixel(12);
    height: spacingPixel(12);
    transform: translate(-50%, 50%);
    z-index: $zIndexXs;
    align-items: center;
    justify-content: center;
    border-radius: $borderRadiusFull;
    background: $whiteDark;
    bottom: 0;
    display: flex;

    svg {
      position: relative;
    }
  }
}

.interval-timer-detail {
  border-top-left-radius: spacingPixel(1);
  border-top-right-radius: spacingPixel(1);
  overflow: hidden;
  width: 100%;
  height: fit-content;

  /* Circle cut off */

  .interval-timer-detail-circle-cut-off {
    position: relative;
    overflow: hidden;
    /* Needed because otherwise there is a weird uncolored border on mobile devices */
    bottom: -1px;
    padding: spacingPixel(6) spacingPixel(2) spacingPixel(2);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border-width: 0;
      width: 120px;
      height: 120px;
      box-shadow: 0 0 0 2000px white;
    }
  }

  .interval-timer-detail-configuration-options {
    padding: spacingPixel(6) spacingPixel(2) spacingPixel(4);
    flex-grow: 1;
    overflow: auto;
    background: $whiteDark;
    width: 100%;
  }
}

.interval-timer-detail-execution-overview {
  display: grid;
  justify-self: stretch;
  flex-grow: 1;
  padding: spacingPixel(6) spacingPixel(2) spacingPixel(4);
  background: $whiteDark;
  grid-template-areas:
    'roundCountText roundCountDots'
    'exerciseCountText exerciseCountDots'
    'restTime restTime';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
  grid-row-gap: spacingPixel(2.5);
  width: 100%;

  .interval-timer-detail-execution-overview-dot {
    width: spacingPixel(3);
    height: spacingPixel(3);
    border-radius: $borderRadiusFull;
    border: 2px solid $grayDark;
    padding: spacingPixel(0.5);
    margin: spacingPixel(0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .completed {
      background: $grayDark;
      width: 100%;
      height: 100%;
      border-radius: $borderRadiusFull;
    }
  }

  .interval-timer-detail-execution-overview-rest {
    grid-area: restTime;
    color: $blackDark;
    font-size: spacingPixel(2.5);
    align-self: center;
    font-weight: $weightBigger;
  }

  .interval-timer-detail-execution-overview-rounds-text {
    grid-area: roundCountText;

    @include detail-execution-overview-rounds-text();
  }

  .interval-timer-detail-execution-overview-exercises-text {
    grid-area: exerciseCountText;

    @include detail-execution-overview-rounds-text();
  }

  .interval-timer-detail-execution-overview-rounds-dots {
    grid-area: roundCountDots;
    justify-self: end;

    border: 2px solid $grayLight;
    border-radius: $borderRadiusM;
  }

  .interval-timer-detail-execution-overview-exercises-dots {
    grid-area: exerciseCountDots;
    justify-self: end;

    border: 2px solid $grayLight;
    border-radius: $borderRadiusM;
  }
}
