@import '../abstracts/_functions';
@import '../abstracts/_variables';

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-page-container {
    background: $whiteDark;
    border-radius: $borderRadiusM;
    padding: spacingPixel(3);

    .register-page-headline {
      margin-bottom: spacingPixel(3);
      color: $blackDark;
      font-size: spacingPixel(4);
    }

    .register-form {
      .register-form-label {
        display: block;
        color: $blackDark;
        font-size: spacingPixel(2);
        margin-bottom: spacingPixel(1);
      }

      .register-form-email-box {
        position: relative;
        margin-bottom: spacingPixel(4);
      }

      .register-form-password-box {
        position: relative;
        margin-bottom: spacingPixel(5);
      }

      .register-form-input {
        display: block;
        border-radius: spacingPixel(1);
        padding: spacingPixel(1.5) spacingPixel(2.5);
        color: $blackDark;
        border: 1px solid $grayDark;
        width: 350px;

        &:focus {
          outline: none;
        }
      }

      .register-form-password-input {
        margin-bottom: spacingPixel(2);
      }

      .register-form-validation-error {
        color: $blackDark;
        font-size: spacingPixel(1.75);
        position: absolute;
        bottom: spacingPixel(-3);
      }

      .register-form-cta {
        margin-left: auto;
        margin-right: auto;
        background: $grayDark;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
