@tailwind base;
@tailwind components;
@tailwind utilities;
/* Colors */
.button {
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 100%);
  transition: all 150ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.button:active {
  scale: 0.98;
}
.button .button-content {
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.button .wave-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button .wave-wrapper .wave {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
  transform-origin: center center;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 19%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.5) 100%);
  animation: scale 700ms ease-out forwards;
}

@keyframes scale {
  0% {
    scale: 0;
    opacity: 0;
  }
  60% {
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.1;
    opacity: 0;
  }
}
/* Colors */
.work-time-configuration-button {
  background: #e6fcf2;
  color: #6fdeaa;
}

.rest-time-configuration-button {
  background: #faedef;
  color: #f63053;
}

.exercise-count-configuration-button {
  background: #f3f3f3;
  color: #b3b3b3;
}

.round-count-configuration-button {
  background: #e8ebfc;
  color: #6578f1;
}

.round-reset-time-configuration-button {
  background: #fdf7e7;
  color: #f4ce65;
}

/* Colors */
.icon-size-1-5 {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-size-2-25 {
  height: 2.25rem;
  width: 2.25rem;
}

.icon-width-2-25 {
  width: 2.25rem;
}

.stroke-red-primary__SCSS {
  stroke: #f01151;
}

.stroke-white-dark {
  stroke: #fff;
}

.stroke-black-dark__SCSS {
  stroke: #050505;
}

.stroke-green-dark {
  stroke: #6fdeaa;
}

.stroke-red-dark {
  stroke: #f63053;
}

.stroke-gray-dark {
  stroke: #b3b3b3;
}

.stroke-blue-dark {
  stroke: #6578f1;
}

.stroke-black-50 {
  stroke: rgba(0, 0, 0, 0.5);
}

/* Colors */
body {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(to top left, #f01151 33%, #f53e52 66%, #fd6854 100%);
  color: #fff;
  letter-spacing: 0.025em;
}

.background-green-dark {
  background: #6fdeaa;
}

.background-red-dark {
  background: #f63053;
}

.background-gray-dark {
  background: #b3b3b3;
}

.background-blue-dark {
  background: #6578f1;
}

.background-yellow-dark {
  background: #f4ce65;
}

.margin-right-4 {
  margin-right: 0.5rem;
}

.height-screen {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.custom-circle-cut-off {
  position: relative;
  overflow: hidden;
  /* Needed because otherwise there is a weird uncolored border on mobile devices */
  bottom: -1px;
}

.custom-circle-cut-off:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-width: 0;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 0 2000px white;
}

/*# sourceMappingURL=global.css.map */
