/**
* @see https://range-input-css.netlify.app/
*/

.slider {
  -webkit-appearance: none;
  appearance: slider-vertical;
  cursor: pointer;
  width: 50%;
  height: 100%;
  opacity: 0;
  z-index: 1000;

  &:focus {
    outline: none;
  }
}

/**
 * Slider track
 * Chrome, Safari, Opera and Edge Chromium styles
 */
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

/* Slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
}

/**
* Slider thumb
* Firefox styles
*/
.slider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
}