@use '../abstracts/mixins' as mixins;

@import '../abstracts/_variables';

.background-blur {
  position: absolute;
  z-index: $zIndexXs;
  @include mixins.topRightBottomLeft();
}

.backdrop-blur-animation-backdrop-filter-in {
  animation: backdrop-filter-in-keyframe 250ms ease-in forwards;
}

.backdrop-blur-animation-backdrop-filter-out {
  animation: backdrop-filter-out-keyframe 250ms ease-in forwards;
  transition: transform 0ms linear 250ms;
  transform: translateX(-100%);
}
