@use '../abstracts/mixins' as mixins;

@import '../abstracts/_variables';
@import '../abstracts/_functions';

.button {
  box-sizing: border-box;
  border-radius: $borderRadiusM;
  padding: spacingPixel(1.25) spacingPixel(2);
  font-weight: $weightBigger;
  background: reduceOpacity($blackDark, 0.11);
  align-self: center;
  width: max-content;
  border: 1px solid transparent;
  color: reduceOpacity($blackDark, 0.6);
  cursor: pointer;
  transition: 150ms;

  &:hover {
    background: reduceOpacity($blackDark, 0.135);
    color: reduceOpacity($blackDark, 0.7);
  }

  &:active {
    scale: 0.995;
  }
}

.button-click-effect {
  border: 0.75px solid reduceOpacity($blackDark, 0.135);
}
