@use '../abstracts/mixins' as mixins;

@import '../abstracts/_variables';
@import '../abstracts/_functions';

.button {
  border-radius: $borderRadiusM;
  padding: spacingPixel(2);
  font-weight: $weightBigger;
  background: $whiteOpacity50;
  align-self: center;
  width: max-content;
  border: none;
  color: $whiteDark;
  cursor: pointer;
  background: radial-gradient(
    circle at center,
    rgba($whiteDark, 0.3) 0%,
    rgba($whiteDark, 0.4) 100%
  );
  transition: all 150ms ease-in-out;

  position: relative;
  overflow: hidden;
  &:active {
    scale: 0.98;
  }
  .button-content {
    font-size: spacingPixel(2.25);
    position: relative;
    z-index: 3;
    pointer-events: none;
  }
  .wave-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .wave {
      position: absolute;
      z-index: 1;
      width: 100%;
      border-radius: 100%;
      aspect-ratio: 1 / 1;
      transform-origin: center center;
      background: radial-gradient(
        circle at center,
        rgba($whiteDark, 0) 0%,
        rgba($whiteDark, 0) 19%,
        rgba($whiteDark, 0.5) 70%,
        rgba($whiteDark, 0.5) 100%
      );
      animation: scale-keyframe 400ms ease-out forwards;
    }
  }
}

@keyframes scale-keyframe {
  0% {
    scale: 0;
    opacity: 0;
  }
  60% {
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.1;
    opacity: 0;
  }
}
