@use '../abstracts/mixins' as mixins;

@import '../abstracts/_variables';
@import '../abstracts/_functions.scss';

.configuration-option-button-work-time {
  @include mixins.configuration-option-button($greenLight, $greenDark);
}

.configuration-option-button-rest-time {
  @include mixins.configuration-option-button($redLight, $redDark);
}

.configuration-option-button-exercise-count {
  @include mixins.configuration-option-button($grayLight, $grayDark);
}

.configuration-option-button-round-count {
  @include mixins.configuration-option-button($blueLight, $blueDark);
}

.configuration-option-button-round-reset-time {
  @include mixins.configuration-option-button($yellowLight, $yellowDark);
}

.configuration-option-button {
  border-radius: $borderRadiusL;
  font-size: spacingPixel(2.5);
  margin-bottom: spacingPixel(2);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: spacingPixel(2);
  display: flex;
  font-weight: $weightBigger;

  &:last-of-type {
    margin-bottom: 0;
  }

  .configuration-option-button-text {
    align-items: center;
    color: $blackDark;

    svg {
      margin-right: spacingPixel(1);
    }
  }
}
