@use '../abstracts/mixins' as mixins;

@import '../abstracts/_variables';
@import '../abstracts/_functions';

.modal {
  height: 95vh;
  width: 95vw;
  padding: spacingPixel(4.5);
  border-radius: $borderRadiusM;
  z-index: 1000000;

  &::backdrop {
    animation: backdrop-filter-in-keyframe $transitionM ease-in forwards;
  }

  .modal-content {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .modal-content-close-icon {
    top: 0;
    right: 0;
    position: absolute;
  }

  .modal-header {
    justify-content: center;
    margin-bottom: spacingPixel(3);
    align-items: center;

    .modal-header-intro {
      font-size: spacingPixel(4);
      color: $whiteDark;
      font-weight: $weightBigger;
    }
  }

  .modal-header-intensity {
    margin-bottom: spacingPixel(7);
    font-size: spacingPixel(7.5);
    color: $whiteDark;
    text-align: center;
    font-weight: $weightBig;
  }
}
