@import '../abstracts/_variables';

@import '../abstracts/_functions';

.pulse {
  position: absolute;
  width: spacingPixel(25);
  height: spacingPixel(25);
  background: $whiteDark;
  opacity: 0.2;
  border-radius: $borderRadiusFull;
}

.pulse-animation {
  .pulse-wave-one,
  .pulse-wave-two,
  .pulse-wave-three,
  .pulse-wave-four {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: pulse-wave-keyframe-up 3s ease-out infinite;
  }

  .pulse-wave-one {
    animation-delay: 0s;
  }

  .pulse-wave-two {
    animation-delay: 1s;
  }

  .pulse-wave-three {
    animation-delay: 2s;
  }

  .pulse-wave-four {
    animation-delay: 3s;
  }
}
