@use '../abstracts/mixins' as mixins;

@import '../abstracts/_variables';
@import '../abstracts/_functions';

.slider-container {
  position: relative;
  height: 100%;
  margin-bottom: spacingPixel(12);
  align-items: center;

  .slider {
    -webkit-appearance: none;
    appearance: slider-vertical;
    cursor: pointer;
    width: 50%;
    height: 100%;
    z-index: 10000000;

    &:focus {
      outline: none;
    }

    /**
 * Slider track
 * Chrome, Safari, Opera and Edge Chromium styles
 */
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
    }
    /* Slider thumb */
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      width: 50px;
      height: 50px;
    }

    /**
  * Slider thumb
  * Firefox styles
  */
    &::-moz-range-thumb {
      border: none; /*Removes extra border that FF applies*/
      width: 50px;
      height: 50px;
    }
  }

  /* Slider thumb */
  .slider-thumb {
    height: 44px;
    width: 64px;
    transform: translateY(50%);
    position: absolute;
    align-items: center;
    z-index: $zIndexXs;
    background: $whiteDark;
    border-radius: $borderRadiusFull;
    justify-content: center;

    .slider-thumb-line {
      position: absolute;
      top: 50%;
      width: 320px;
      height: 8px;
      transform: translateY(-50%);
      background: linear-gradient(
        to right,
        $whiteOpacity0 0%,
        $whiteDark 50%,
        $whiteOpacity0 100%
      );
    }
  }

  .slider-track {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-between;

    .slider-track-dividing-line-container {
      position: relative;
      width: 100%;

      /* Slider track */
      .slider-track-dividing-line {
        height: 2px;
        width: 40px;
        align-self: center;
        background: $whiteOpacity50;
      }

      .slider-track-dividing-line-long {
        width: 64px;
      }

      .slider-track-dividing-line-label {
        font-size: spacingPixel(2.5);
        color: $whiteDark;
        font-weight: $weightBigger;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
