/* Colors */

$blackDark: #050505;

$blueDark: #6578F1;
$blueLight: #E8EBFC;

$grayDark: #B3B3B3;
$grayLight: #F3F3F3;

$greenDark: #6FDEAA;
$greenLight: #E6FCF2;

$orangeDark: #E68063;
$orangeLight: #E6B4A5;

$redDark: #F63053;
$redLight: #FAEDEF;
$redOpacity33: #F0115133;
$redOpacity5: #F011510D;
$redPrimary: #F01151;
$redSecondary: #F53e52;
$redTertiary: #FD6854;

$turquoiseDark: #4CB0AA;
$turquoiseLight: #9BC2C0;

$whiteDark: #FFF;
$whiteOpacity50: #ffffff80;
$whiteOpacity0: rgba(17, 17, 17, 0);
$whiteOpacity20: rgba(17, 17, 17, 0.2);

$yellowDark: F4CE65;
$yellowLight: FDF7E7;

:export {

  blackDark: $blackDark;

  blueDark: $blueDark;
  blueLight: $blueLight;

  grayDark: $grayDark;
  grayLight: $grayLight;

  greenDark: $greenDark;
  greenLight: $greenLight;

  orangeDark: $orangeDark;
  orangeLight: $orangeLight;

  redDark: $redDark;
  redLight: $redLight;
  redOpacity33: $redOpacity33;
  redOpacity5: $redOpacity5;
  redPrimary: $redPrimary;
  redSecondary: $redSecondary;
  redTertiary: $redTertiary;

  turquoiseDark: $turquoiseDark;
  turquoiseLight: $turquoiseLight;

  whiteDark: $whiteDark;
  whiteOpacity50: $whiteOpacity50;
  whiteOpacity0: $whiteOpacity0;
  whiteOpacity20: $whiteOpacity20;

  yellowDark: $yellowDark;
  yellowLight: $yellowLight;
}