@use "../abstracts/mixins" as mixins;

@import "../abstracts/variables";
@import "../abstracts/functions";

.button {
    box-sizing: border-box;
    border-radius: $borderRadiusM;
    padding: spacingPixel(1.25) spacingPixel(2);
    font-weight: $weightBigger;
    background: change-color-alpha($blackDark, 0.53);
    align-self: center;
    width: max-content;
    border: 1px solid transparent;
    color: change-color-alpha($blackDark, 0.6);
    cursor: pointer;
    transition: 150ms;

    &:hover {
        background: change-color-alpha($blackDark, 0.55);
        color: change-color-alpha($blackDark, 0.7);
    }
}
