.chevron-icon-direction-up {
  transform: rotate(0deg);
}

.chevron-icon-direction-right {
  transform: rotate(90deg);
}

.chevron-icon-direction-down {
  transform: rotate(180deg);
}

.chevron-icon-direction-left {
  transform: rotate(270deg);
}
