@import 'variables';

@mixin detail-button($background, $textColor) {
  background: $background;
  color: $textColor;
}

/* Icon */
@mixin stroke($color) {
  stroke: $color;
}

@mixin icon-size($height, $width) {
  height: $height;
  width: $width;
}

@mixin flex-box(
  $display: flex,
  $justify-content: start,
  $align-items: stretch,
  $direction: row
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin topRightBottomLeft($top: 0, $right: 0, $bottom: 0, $left: 0) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $bottom;
}

@mixin primaryLinearGradient() {
  background: linear-gradient(
    to top left,
    $redPrimary 33%,
    $redSecondary 66%,
    $redTertiary 100%
  );
}

@mixin animatedLinearGradient($primary, $secondary, $tertiary) {
  background: linear-gradient(270deg, $primary, $secondary, $tertiary);
  background-size: 400% 400%;

  -webkit-animation: animated-linear-gradient-keyframe 7s ease infinite;
  -moz-animation: animated-linear-gradient-keyframe 7s ease infinite;
  animation: animated-linear-gradient-keyframe 7s ease infinite;
}
