@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO USE @use when tailwind is removed.
@import '../../base/Button/button';
@import '../../../src/ui/intervalTimer/intervalTimer';
@import './variables.module';

.custom-circle-cut-off {
  position: relative;
  overflow: hidden;
  /* Needed because otherwise there is a weird uncolored border on mobile devices */
  bottom: -1px;
}

.custom-circle-cut-off:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-width: 0;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 0 2000px white;
}
