@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO USE @use when tailwind is removed.
@import '../../base/Button/button';
@import '../../../src/ui/intervalTimer/intervalTimer';
@import '../../../src/icons/icon';

@import './variables.module';

body {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(
    to top left,
    $redPrimary 33%,
    $redSecondary 66%,
    $redTertiary 100%
  );
  color: $whiteDark;
  letter-spacing: 0.025em;
}

@mixin background($background) {
  background: $background;
}

.background-green-dark {
  @include background($greenDark);
}
.background-red-dark {
  @include background($redDark);
}
.background-gray-dark {
  @include background($grayDark);
}
.background-blue-dark {
  @include background($blueDark);
}
.background-yellow-dark {
  @include background($yellowDark);
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.margin-right-0-5 {
  margin-right: 0.5rem;
}

.height-screen {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.custom-circle-cut-off {
  position: relative;
  overflow: hidden;
  /* Needed because otherwise there is a weird uncolored border on mobile devices */
  bottom: -1px;
}

.custom-circle-cut-off:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-width: 0;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 0 2000px white;
}
