@import '../styles/scss/variables.module';

/* Backdrop blur */
.backdrop-blur-animation-backdrop-filter-in {
  animation: backdrop-filter-in-keyframe $transition250 ease-in forwards;
}

.backdrop-blur-animation-backdrop-filter-out {
  animation: backdrop-filter-out-keyframe $transition250 ease-in forwards;
}

.backdrop-blur-transition-transform-delay-250 {
  transition: transform 0ms linear $transition250;
}

.translate-x-full-left {
  transform: translateX(-100%);
}

/* Button */
.button {
  width: max-content;
  border: none;
  color: $whiteDark;
  cursor: pointer;
  background: radial-gradient(
    circle at center,
    rgba($whiteDark, 0.3) 0%,
    rgba($whiteDark, 0.4) 100%
  );
  transition: all 150ms ease-in-out;

  position: relative;
  overflow: hidden;
  &:active {
    scale: 0.98;
  }
  .button-content {
    position: relative;
    z-index: 3;
    pointer-events: none;
  }
  .wave-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .wave {
      position: absolute;
      z-index: 1;
      width: 100%;
      border-radius: 100%;
      aspect-ratio: 1 / 1;
      transform-origin: center center;
      background: radial-gradient(
        circle at center,
        rgba($whiteDark, 0) 0%,
        rgba($whiteDark, 0) 19%,
        rgba($whiteDark, 0.5) 70%,
        rgba($whiteDark, 0.5) 100%
      );
      animation: scale-keyframe 700ms ease-out forwards;
    }
  }
}

@keyframes scale-keyframe {
  0% {
    scale: 0;
    opacity: 0;
  }
  60% {
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.1;
    opacity: 0;
  }
}

/* Modal*/
.modal {
  height: 95vh;
  width: 95vw;

  &::backdrop {
    animation: backdrop-filter-in-keyframe $transition250 ease-in forwards;
  }

  .modal-x-mark-icon-position {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Slider */
/**
* @see https://range-input-css.netlify.app/
*/
.slider {
  -webkit-appearance: none;
  appearance: slider-vertical;
  cursor: pointer;
  width: 50%;
  height: 100%;
  opacity: 0;
  z-index: 1000;

  &:focus {
    outline: none;
  }
  /**
 * Slider track
 * Chrome, Safari, Opera and Edge Chromium styles
 */
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
  }
  /* Slider thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
  }

  /**
  * Slider thumb
  * Firefox styles
  */
  &::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
  }
}

/* Slider thumb */
.slider-thumb {
  height: 44px;
  width: 64px;
  transform: translateY(50%);

  .slider-thumb-line {
    top: 50%;
    width: 320px;
    height: 8px;
    transform: translateY(-50%);
    background: linear-gradient(
      to right,
      $whiteOpacity0 0%,
      $whiteDark 50%,
      $whiteOpacity0 100%
    );
  }
}

/* Slider track */

.slider-track-dividing-line {
  height: 2px;
  width: 40px;
  align-self: center;
  background: $whiteOpacity50;
}

.slider-track-dividing-line-long {
  width: 64px;
}

.slider-track-dividing-line-label {
  left: 0;
  transform: translateY(-50%);
}
